* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  height: 100dvh;
}
.container {
  border: 1px solid black;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
h1 {
  margin-bottom: 20px;
}
.left-right {
  display: flex;
  gap: 50px;
}
form {
  display: flex;
  flex-direction: column;
}
#text {
  margin: 20px 0;
}
.right,
.left {
  width: 400px;
}
h2 {
  margin-bottom: 20px;
}
.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
